<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>536055606027-2grn6udtcr3q2g67e05nrlv51auegnu0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.536055606027-2grn6udtcr3q2g67e05nrlv51auegnu0</string>
	<key>API_KEY</key>
	<string>AIzaSyApj9TiJOL9qbnp5Wa6kMv3sGGvV55Fads</string>
	<key>GCM_SENDER_ID</key>
	<string>536055606027</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.onlineTaskInstaClone</string>
	<key>PROJECT_ID</key>
	<string>flutter-insta-clone-dce6a</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-insta-clone-dce6a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:536055606027:ios:2826994dea5254ad53d00e</string>
</dict>
</plist>